/* Color Palette
Med Gray - #9C9C9C
Offwhite - #FFFFFF
Black - #000000
Candy Red - #FF0050
*/

/* General Styles
--------------------- */
html, body {height: 100%;}
html {
    font-size: 14px;
    box-sizing: border-box;
}
*, *:before, *:after {
    /* content: ""; */
    box-sizing: inherit;
}

body {
    background-color: #fff;
    color: #9C9C9C;
    font-family: 'Source Sans Pro', sans-serif;
    /* prevent scroll */
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {font-size: 2.5rem;}
h2 {font-size: 2.3rem;}
h3 {font-size: 1.8rem;}
p {font-size: 1rem;}
*:focus {
    outline:none;
}

/* Class Styles
-------------------- */
.btn {
    display: inline-block;
    text-decoration: none;
    height: 40px;
    width: 125px;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    margin-right: 20px;
    background-color: darkgray;  /* Debug */
}
